export DIGITALOCEAN_TOKEN=blahblah
export CHEF_USER=yourchefuser
export CHEF_ORGNAME=yourorgname
export CHEF_VALIDATOR_KEY=~/.chef/${CHEF_ORGNAME}-validator.pem
export TF_VAR_chef_org=$CHEF_ORGNAME
export TF_VAR_ssh_key_file=~/.ssh/deploygif.pub
